<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!--  配置数据源，现在交给Spring  -->
    <typeAliases>
        <package name="com.car.pojo"/>
    </typeAliases>

    <mappers>
        <mapper class="com.car.dao.AdminMapper"/>
        <mapper class="com.car.dao.CarMapper"/>
        <mapper class="com.car.dao.RentMapper"/>
        <mapper class="com.car.dao.TenantMapper"/>
    </mappers>

</configuration>